.culture-list{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  @extend .cf;
  padding-top: 6%;
  padding-bottom: 6%;

  @include media-query(palm) {
    display: none;
  }

  @include media-query(lap) {
    display: none;
  }
}

.cl__item{
  display: block;
  background-color: rgba(30, 29, 36, 1);
  color: #fff;
  position: relative;
  width: 26.47%;
  height: auto;
  padding-bottom: 26.47%;
  float: left;
  border-radius: 50%;
  margin-left: -2%;

  &:nth-child(4n+1){
    margin-left: 0;
  }

  &:nth-child(n+5){
    margin-top: -2%;
  }
}

.cl__item-wrap{
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  @include vendor(transform, translate(-50%, -50%));
  text-align: center;
}

.cl__title{
  margin-bottom: 5px;
  color: $brand-color;
}

.cl__text{
  p{
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
  }
}
