.gallery{
  width: 100%;
  position: relative;
  background-color: #111;
  
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.gallery__item{
  float: left !important;
  position: relative;
  width: 16.666666%;
  overflow: hidden;
  padding-bottom: 16.666666%;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    @include vendor(transition, background-color .3s ease);
  }

  img{
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
  }

  &:hover::before{
    background-color: rgba(0, 0, 0, 0);    
  }
}
