@if $use-media == true{

/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=media__img>
       <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */
.media{
    display:block;
    @extend .cf;
}
    .media__img{
        float:left;
        margin-right:$base-spacing-unit;
    }
    /**
     * Reversed image location (right instead of left).
     */
    .media__img--rev{
        float:right;
        margin-left:$base-spacing-unit;
    }

        .media__img img,
        .media__img--rev img{
            display:block;
        }

    .media__body{
        overflow:hidden;
    }
        .media__body,
        .media__body > :last-child{
            margin-bottom:0;
        }


    /**
     * `.img`s in `.islet`s need an appropriately sized margin.
     */
    .islet .media__img{
        margin-right:$half-spacing-unit;
    }
    .islet .media__img--rev{
        margin-left:$half-spacing-unit;
    }

/** 
 * WordPress attachment classes 
 */

img.size-auto,
img.size-large,
img.size-full,
img.size-medium {
    max-width: 100%;
    height: auto;
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;

    @media (max-width: 600px){
        clear: both;
        float: none;
        margin: 0 auto;
        display: block;
    }
}
.wp-caption {
    background: #f1f1f1;
    border: none;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #888;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important; /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}
.wp-caption img {
    margin: 5px;
}
.wp-caption p.wp-caption-text {
    margin: 0 0 4px;
}
.wp-smiley {
    margin: 0;
}

}//endif
