/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}

/** 
 * Link defaults 
 */

a{
  position: relative;
  color: $brand-color;
  text-decoration: none;
  @include vendor(transition, color .4s ease);

  &:hover{
    color: $brand-black;
  }

  p &{

    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: $brand-color;
      position: absolute;
      bottom: -2px;
      left: 0;
      @include vendor(transform, scaleX(.8) translateY(4px));

      opacity: 0;
      visibility: hidden;

      @include vendor(transition, all .3s cubic-bezier(.23, 1, .32, 1));
    }

    &:hover:after{
      @include vendor(transform, translateY(-2px));
      opacity: 1;
      visibility: visible;
    }

  }
}

.logo{
  display: block;
  color: #fff;
  text-indent: -9999px;
  width: 250px;
  height: 60px;
  background: transparent url('images/logo.svg') left top no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 110;
}

.logo--small{
  width: 180px;
  height: 45px;
}

.logo--large{
  width: 350px;
  height: 86px;
}

.logo--nav-bar{
  position: absolute;
  left: 5%;
  top: 50%;
  @include vendor(transform, translateY(-50%));
  z-index: 100;
}

body:not(.home) .main{
  padding: 50px 0;
}

.section{
  padding: 7% 20px;
}

.section--grey{
  background-color: $base-ui-color;
  @extend .cf;
}
