/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}

/** 
 * Link defaults 
 */

a{
  position: relative;
  color: $brand-color;
  text-decoration: none;
  @include vendor(transition, color .4s ease);

  &:hover{
    color: $brand-black;
  }

  p &{

    &:after{
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: $brand-color;
      position: absolute;
      bottom: -2px;
      left: 0;
      @include vendor(transform, scaleX(.8) translateY(4px));

      opacity: 0;
      visibility: hidden;

      @include vendor(transition, all .3s cubic-bezier(.23, 1, .32, 1));
    }

    &:hover:after{
      @include vendor(transform, translateY(-2px));
      opacity: 1;
      visibility: visible;
    }

  }
}

.logo{
  display: block;
  color: #fff;
  text-indent: -9999px;
  width: 250px;
  height: 60px;
  background: transparent url('images/logo.svg') left top no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 110;
}

.logo--small{
  width: 180px;
  height: 45px;
}

.logo--large{
  width: 280px;
  height: 69px;
}

.logo--nav-bar{
  position: absolute;
  left: 5%;
  top: 50%;
  @include vendor(transform, translateY(-50%));
  z-index: 100;
}

body:not(.home) .main{
  padding: 50px 0;
}

.section{
  padding: 7% 20px;
}

.section--grey{
  background-color: $base-ui-color;
  @extend .cf;
}

.jobs-list{
  font-family: $second-fontstack;
  font-size: 24px;

  a:before, a:after{
    color: $brand-color;
    position: absolute;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    -ms-transition: -ms-transform 0.2s, opacity 0.3s;
    -o-transition: -o-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
  }

  a:before{
    content: '‹';
    left: -10px;
    @include vendor(transform, translateX(15px));
  }

  a:after{
    content: '›';
    right: -10px;
    @include vendor(transform, translateX(-15px));
  }

  a{
    position: relative;

    &:hover:before, &:hover:after{
      opacity: 1;
      @include vendor(transform, translateX(0px));
    }
  }
}

.footer{
  background:$brand-black url('images/footer.png') top center no-repeat;
  @include vendor(background-size, cover);
}

.footer-list{
  color: #fff;
  font-family: $second-fontstack;
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;

  li{
    padding: 0 10px;
    position: relative;

    &:not(:last-child):after{
      content: '・';
      display: block;
      right: -8px;
      top: 50%;
      @include vendor(transform, translateY(-50%));
      position: absolute;
    }
  }

  a{
    color: #fff;

    &:hover{
      color: $brand-color;
    }
  }
}
